/* Main.css */

/* Purple text color */
.purple-text {
  color: purple;
}

/* Card styling */
.dashboard-card {
  border: 2px solid purple;
  border-radius: 8px;
  background-color: #cb1515; /* Light background color */
  height: 100%; /* Ensure the card takes the full height of its column */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-title {
  font-size: 1.25rem; /* Adjust as needed */
}

.card-text {
  font-size: 1.5rem; /* Adjust as needed */
}

/* Container for charts and todo list */
.content-container {
  border: 2px solid purple;
  border-radius: 8px;
  background-color: #f9f9f9; /* Light background color */
  padding: 15px;
}
h2{
  padding-top: 20px;
}
/* Specific container for chart */
.chart-container {
  border: 2px solid purple;
  border-radius: 8px;
  background-color: whitesmoke; /* White background for the chart */
  padding: 15px;
}

/* Specific container for todo list */
.todo-container {
  border: 2px solid purple;
  border-radius: 8px;
  background-color: rgb(129, 237, 129); /* White background for the todo list */
  padding: 15px;
}
